<div class="container">
  <h1>Add an ingredient to <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add ingredient to cocktail", class: "btn btn-primary"%>
  <% end %>
  <p><%= link_to "Back to cocktail page", cocktail_path(@cocktail) %></p>
</div>
